main {
  min-height: 100vh;
  background-color: #e6e6e6;
}

/* Banner SlideShow */
.carousel .carousel-inner {
  height: 90vh;
}

.carousel .carousel-inner .carousel-item {
  position: relative;
}

.carousel .carousel-inner .carousel-item img {
  height: 90vh;
  object-fit: cover;
}

.carousel-item .carousel-overlay {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
  background: linear-gradient(
    90.46deg,
    rgba(0, 0, 0, 0.5) 15.18%,
    rgba(0, 0, 0, 0.1) 67.84%
  );
}

.carousel-item .carousel-content .carousel-title {
  color: #f9f9f9;
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  line-height: 54px;
  text-align: center;
  margin-bottom: 28px;
}

.carousel-item .carousel-content .carousel-description {
  width: 40%;
  color: #f9f9f9;
  font-size: 14px;
  line-height: 19px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 32px;
}

/* Image Banner */
.image-banner img {
  width: 100%;
}

/* Common Section */
.section {
  background-color: #f9f9f9;
  position: relative;
  padding: 3rem 0;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}

.title-section {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline;
}

.title-section::after {
  content: "";
  height: 8px;
  width: 75%;
  background-color: #2060ad;
  position: absolute;
  bottom: -24px;
  left: 12.5%;
}

/* Sub Section */
.sub-section {
  margin-bottom: 1rem;
}

.sub-section .sub-section-title-container {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden;
}

.sub-section .sub-section-title-container .sub-section-title {
  position: relative;
  display: inline;
  font-weight: 500;
  font-size: 24px;
  padding-right: 24px;
}

.sub-section .sub-section-title-container::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #2060ad;
  position: absolute;
  top: 50%;
}

/* Filter Section */
.filter-text {
  font-size: 16px;
  color: #a7a7a7;
}

.filter-section {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cecece;
}

.filter-section:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.filter-section .filter-title {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.list-group .list-group-item {
  color: #a7a7a7;
  border: none;
  padding: 4px 0;
}

.category-filter a.list-group-item {
  padding: 4px 20px;
}

.category-filter a,
.category-filter a:active,
.category-filter a:focus,
.category-filter a:hover {
  text-decoration: none;
  color: #a7a7a7;
}

.category-filter a i {
  color: #858585;
  transition: 0.2s ease;
}

.category-filter .active {
  color: #2060ad !important;
  background-color: transparent !important;
}

/* Section Banner */
img.section-banner {
  width: 100%;
  height: 100%;
}

/* Section Overlay */
.section-overlay {
  max-width: 100vw;
  overflow-x: hidden;
}

.section-overlay img {
  max-width: 98.3vw;
}

.overlay-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 25, 54, 0.55);
}

.overlay-section .overlay-section-heading {
  font-size: 24px;
  color: #f9f9f9;
  margin-bottom: 48px;
  text-align: center;
}

.overlay-section .overlay-section-title {
  font-size: 40px;
  color: #f9f9f9;
  margin-bottom: 32px;
  text-align: center;
}

.overlay-section .overlay-section-description {
  font-size: 18px;
  color: #f9f9f9;
  margin-bottom: 48px;
  text-align: center;
}

/* About Section */
.about-section {
  margin: 0 !important;
  background-image: url("../images/banner-6.png");
  background-position: center;
  background-size: cover;
  background-color: #f9f9f9;
}

.logo-about {
  text-align: center;
}

.logo-about img {
  width: 184px;
  height: 184px;
}

.about-subtitle {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}

.about-subtitle.category-title {
  font-weight: bold !important;
  margin-bottom: 0 !important;
}

.about-subtitle.category-title::after {
  left: 350px !important;
}

.about-list li {
  color: #858585;
  font-size: 14px;
  margin-bottom: 12px;
}

/* Detail Product */
.tenant-avatar {
  width: 150px !important;
  height: 150px !important;
}

.tenant-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  color: #2060ad;
}

.tenant-list-category li a {
  color: #858585;
  font-weight: 300;
}

.tenant-list-category li a.active {
  font-weight: bold;
}

.tenant-list-action {
  border-top: 1px solid #cecece;
}

.tenant-list-action li {
  padding: 1rem 3rem;
}

.tenant-list-action li * {
  text-align: center;
  color: #cecece;
}

.tenant-list-action li a {
  font-weight: bold;
  font-size: 18px;
  padding: 0 !important;
  border: none !important;
}

.tenant-list-action li a:hover {
  border: none !important;
}

.tenant-list-action li a.active {
  color: #2060ad !important;
  border: none !important;
}

.tenant-list-action li:nth-child(2) {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.partners-count {
  margin-left: 3rem;
  font-style: italic;
}

.section .tenant-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #858585;
  margin-bottom: 1.5rem;
}

.tenant-main-product {
  width: 100%;
  object-fit: cover;
}

.tenant-product-detail .product-title {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000000;
}

.tenant-product-detail .product-price {
  font-weight: bold;
  color: #2060ad;
}

.tenant-product-detail hr {
  background-color: #cecece !important;
  height: 1px;
}

.tenant-desc {
  font-size: 14px;
  text-align: justify;
  color: #858585;
}

.tenant-profile-detail .col:first-child {
  border-right: .5px solid #CECECE;
}

.tenant-profile-detail .col:last-child {
  border-left: .5px solid #CECECE;
}

.tenant-detail dt {
  font-weight: 500;
  color: #858585 !important;
}

.tenant-detail dt, .tenant-detail dd {
  margin-bottom: 1rem;
}

.tenant-detail .sosmed-icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

/* Auth Login */
.auth-header {
  background-image: url("../images/banner-4.png");
  background-size: cover;
  background-color: #2060ad;
  margin: 0 !important;
}

.auth-header > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  flex-direction: column;
}

.logo-auth {
  text-align: center;
  margin-bottom: 1rem;
}

.auth-header hr {
  background-color: #29AAE1;
  height: 3px;
}

.logo-auth img {
  width: 86px;
  height: 86px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #333333;
  background-color: #ffffff;
}

.nav-pills .nav-link {
  color: #C5EEFF;
  background-color: #29AAE1;
  padding: 1rem 0;
}

.nav-pills .nav-item:first-child .nav-link {
  border-radius: 8px 0px 0px 0px;
}

.nav-pills .nav-item:last-child .nav-link {
  border-radius: 0px 8px 0px 0px;
}
