* {
  font-family: "Roboto", sans-serif;
}

/* Colors */
.bg-primary,
.btn-primary {
  background-color: #2060ad !important;
}

.bg-info,
.btn-info {
  background-color: #29aae1 !important;
}

.text-primary,
.btn-outline-primary {
  color: #2060ad !important;
}

/* Navbar */
.navbar-nav > .nav-item > .nav-link, .navbar-nav > .nav-item > .nav-link .btn {
  color: #ffffff !important;
  font-size: 12px;
}

.navbar-nav > .nav-item > .nav-link .btn {
  padding-top: 8px;
  padding-bottom: 6px;
}

/* Content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.btn {
  font-size: 12px;
  padding: 8px 24px;
}

.text-black {
  color: #000000 !important;
}

.text-description {
  color: #858585;
  font-size: 14px;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

/* Card */
/* Tenant Card */
.card.tenant-card {
  border-radius: 8px;
  padding: 0.25rem;
  margin-bottom: 30px;
}

.card.tenant-card .card-body {
  padding: 0.75rem 0.5rem;
}

.card.tenant-card .card-title {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.card.tenant-card .card-subtitle {
  color: #858585;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.25rem;
}

.card.tenant-card .card-text {
  color: #858585;
  font-weight: 300;
  font-size: 14px;
}

/* Filter & Sort Card */
.card.filter-sort-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

/* Utils */
hr {
  background-color: #2060ad;
  height: 2px;
}

/* Pagination */
.pagination-wrapper span {
  font-size: 16px;
  color: #000000;
}

.pagination-wrapper .pagination {
  margin: 0;
  display: flex;
}

.pagination-wrapper .pagination .page-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-wrapper .pagination .page-item .page-link {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 2px;
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #cecece;
  background-color: transparent;
}

.pagination-wrapper .pagination .page-item.active .page-link {
  background-color: #2060ad;
}
